:root {
  --color1: #141827;
  --color2: #62455b;
  --color3: #736681;
  --color4: #c1d9d0;
  --color5: #fffae3;
}

.comment-form {
  transition: all 0.3s ease;
  opacity: 1;
  display: block;
}

.comments-list {
  margin-top: 1rem;
  background-color: var(--color2);
  border-radius: 5px;
  padding: 1rem;
  color: var(--color5);
}

.comment-item {
  border-bottom: 1px solid var(--color3);
  padding: 0.5rem 0;
}

.comment-item:last-child {
  border-bottom: none;
}

.comment-date {
  margin-top: 4px;
  color: var(--color4);
  font-size: 0.75rem;
}
