:root {
  --color1: #141827;
  --color2: #62455b;
  --color3: #736681;
  --color4: #c1d9d0;
  --color5: #fffae3;
}

.course-card-wrapper {
  width: 100%;
}

.dashboard-card {
  background-color: var(--color5);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid var(--color2);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  background-color: var(--color5);
}

.course-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color2);
  margin-bottom: 15px;
}

.course-info {
  font-size: 1rem;
  color: var(--color3);
  margin-bottom: 20px;
}

.view-button {
  padding: 10px 20px;
  background-color: var(--color2);
  color: var(--color1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: var(--color1);
  color: var(--color4);
}

.publications-container {
  background-color: var(--color5);
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.publication-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  margin-top: 10px;     
}

.publication-author,
.publication-date {
  text-align: right;
  font-size: 0.9rem;
  color: var(--color3); 
}
